.title {
  .element {
    display: inline-block;
    horiz-align: center;
    font-size: 25px;
  }
  .return-btn {
    float: left;
    margin-right: 2%;
  }

  .sub-element {
    display: inline-block;
    font-size: 15px;
  }
  .sub-element .element {
    float: right;
  }
}
