<ion-header>
  <ion-toolbar class="title">
    <ion-title class="element">Manga</ion-title>
    <ion-icon class="element return-btn" name="filter-outline" (click)="onFilter()"></ion-icon>
    <ion-label *ngIf="genre" class="sub-element">{{genre}} </ion-label>
    <ion-label *ngIf="year" class="sub-element">{{year}}</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="mangas">
    <ion-list>
    <ion-item *ngFor="let manga of mangas">
      <div class="mangas">
      <ion-card class="card" (click)="navigateToDetail(manga)">
          <ion-card-header class="header">
            <ion-card-title class="title">{{manga.title.romaji}}</ion-card-title>
            <ion-icon *ngIf="manga.isFavorite" class="favorite-icon" color="danger" name="star-outline"></ion-icon>
          </ion-card-header>
        <ion-card-content>
            <img class="img" src="{{manga.coverImage.medium}}" align="left">
            <ion-label class="label">{{manga.startDate.year}}</ion-label>
            <ng-container *ngIf="manga.chapters && manga.volumes">
            <ion-label class="label">{{manga.chapters}} chapitres</ion-label>
            <ion-label class="label">{{manga.volumes}} volumes</ion-label>
            </ng-container>
            <ng-container *ngIf="!manga.chapters && !manga.volumes">
              <ion-label class="label">? chapters</ion-label>
              <ion-label class="label">? volumes</ion-label>
            </ng-container>
            <ion-label class="label"> Average score : {{manga.averageScore}} / 100</ion-label>
            <ion-label class="label"> Status : {{manga.status}}</ion-label>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-item>
    </ion-list>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-container>

</ion-content>
