.title {
  .element {
    display: inline-block;
    horiz-align: center;
    font-size: 25px;
  }
  .return-btn {
    float: right;
    margin-right: 2%;
  }
}
.animes {
  .favorite-icon {
    display: inline-block;
    font-size: 25px;
    float: right;
  }
  width: 100%;
  .card {
    margin: 15px;
    width: 100%;
    .img {
      float: left;
      margin-right: 15px;
      margin-bottom: 15px;
    }
    .label {
      margin: 10px;
    }
  }
}

