<ion-header>
  <ion-toolbar>
    <ion-title>Anime</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">App</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngIf="animes">
    <ion-list>
      <ion-item *ngFor="let anime of animes">
        <div class="animes">
          <ion-card class="card" (click)="navigateToDetail(anime)">
            <ion-card-header>
              <ion-card-title>{{anime.title.romaji}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <img class="img" src="{{anime.coverImage.medium}}" align="left">
              <ion-container *ngIf="anime.season && anime.seasonYear">
                <ion-label class="label">{{anime.season}} {{anime.seasonYear}}</ion-label>
              </ion-container>
              <ion-container *ngIf="anime.episodes && anime.duration">
                <ion-label class="label">{{anime.episodes}} episode(s)</ion-label>
                <ion-label class="label">{{anime.duration}} min</ion-label>
              </ion-container>
              <ion-container *ngIf="anime.status">
                <ion-label class="label">{{anime.status}}</ion-label>
              </ion-container>
              <ion-container *ngIf="anime.averageScore">
                <ion-label class="label">Average Score : {{anime.averageScore}} / 100</ion-label>
              </ion-container>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-container>

</ion-content>
